@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* html{
    background-color: darkgray;
} */
.container {
    max-width: 860px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Add padding for inner spacing */
  }

  #mypicture {
    width: 20%;
    float: right;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    filter: grayscale(0);
  }

  #mypicture:hover {
    filter: grayscale(50%);
    transform: scale(1.05);
  }

header {
    display: flex;
    justify-content: space-between; 
  }

.navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color:none;
    padding: 10px;
    
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin: 0 10px;
    font-size: large;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    clear: both;
  }

  
  p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    /* float: left; */
    width: 70%;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .projectlist {
    list-style-type: none; /* Remove default bullets */
  }
  
  .projectlist li {
    position: relative;
    padding-left: 20px; /* Adjust padding as needed */
  }
  
 .projectlist li::before {
    content: "\2794"; /* Different arrow character */
  font-size: 12px;
  color: #333;
  padding-right: 5px;
  }
